@font-face{
			font-family:"sliced-top";
			src:url('../fonts/otf/slicing-test-top.otf');
		}

		@font-face{
			font-family: "sliced-mid";
			src:url('../fonts/otf/slicing-test-mid.otf');
		}

		@font-face{
			font-family:"sliced-bottom";
			src:url('../fonts/otf/slicing-test-bottom.otf');
		}


body{
	background:red;
}

h1{
	color:white;
	font-family:"sliced-mid";
	font-size:40vw;
	text-align:center;
	margin-top:0;
}

h1 span{
	position:relative;

}

h1 span:before{
	position:absolute;
	font-family:"sliced-top";
	-webkit-transition:all .5s cubic-bezier(.26,0,.03,.99);
}

h1 span:after{
	position:absolute;
	font-family:"sliced-bottom";
	-webkit-transition:all .5s cubic-bezier(.26,0,.03,.99);
	left:0;
}


@keyframes shift-small{
	0%{
		margin-left:0em;
	}

	50%{
		margin-left:0.125em;
	}
	75%{
		margin-left:-0.05em;
	}
	100%{
		margin-left:0em;
	}
}


@keyframes shift-rotate{
	from{
		margin-top:0em;
		-webkit-transform:rotate(0deg);
	}	
	to{
		margin-top:0.5em;
		-webkit-transform:rotate(-90deg);
	}
}

@keyframes shift-up{
	from{
		margin-top:0em;
	}
	to{
		margin-top:-0.25em;
		margin-left:0.025em;
	}
}

@keyframes shift-down{
	from{
		margin-top:0em;
	}
	to{
		margin-top:0.25em;
	}
}



/*------------------
F
--------------------*/
.char-01:before{
	content:"L";
	font-family:"sliced-top";
	-webkit-animation:shift-small 2.5s cubic-bezier(.26,0,.03,.99) infinite;
}

.char-01:after{
	content:"L";
	font-family:"sliced-bottom";
	-webkit-animation:shift-small 1.5s cubic-bezier(.26,0,.03,.99) infinite;
	/*left:0;*/
	/*margin-left:-0.125em;*/
	
}

.char-01:hover:before{
	margin-left:0em;
}

.char-01:hover:after{
	margin-left:0em;

}

/*------------------
O
--------------------*/
.char-02:before{
	content:"O";
	-webkit-animation: shift-up 2s cubic-bezier(.26,0,.03,.99) infinite alternate;
}

.char-02:after{
	content:"O";
	-webkit-animation: shift-rotate 2.3s cubic-bezier(.26,0,.03,.99) infinite alternate;

}

.char-02:hover:before{
	margin-top:0em;
	margin-left:0em;
	
}

.char-02:hover:after{
	margin-top:0em;
	margin-left:0em;
	-webkit-transform:rotate(0deg);
}

/*------------------
R
--------------------*/

.char-03:before{
	content:"O";
	-webkit-animation: shift-small 2s cubic-bezier(.26,0,.03,.99) infinite;
}

.char-03:after{
	content:"O";
	-webkit-animation: shift-down 1s cubic-bezier(.26,0,.03,.99) infinite alternate;

}

.char-03:hover:before{
	margin-left:0em;
}

.char-03:hover:after{
	margin-top:0em;

}

/*------------------
M
--------------------*/
.char-04:before{
	content:"P";
	-webkit-animation: shift-small 3s cubic-bezier(.26,0,.03,.99) infinite;
}

.char-04:after{
	content:"P";
	-webkit-animation: shift-small 5s cubic-bezier(.26,0,.03,.99) infinite;
	/*margin-left:0.05em;*/
}

.char-04:hover:before{
	margin-left:0;

}

.char-04:hover:after{
	/*margin-left:0;*/
	/*content:"M";*/
}


.description{
	position:fixed;
	z-index:2;
	bottom:0;
	padding:2em;
}

.description p{
	font-family:menlo;
	line-height:1.4em;
}





