@font-face{
			font-family:"sliced-top";
			src:url('../fonts/otf/slicing-test-top.otf');
		}

		@font-face{
			font-family: "sliced-mid";
			src:url('../fonts/otf/slicing-test-mid.otf');
		}

		@font-face{
			font-family:"sliced-bottom";
			src:url('../fonts/otf/slicing-test-bottom.otf');
		}

		body{
			background:rgb(40,40,40);
		}

		h1{
			color:rgb(210,210,210);
			font-family:"sliced-mid";
			font-size:250px;
			font-weight:normal;
			margin:0px;
		}

		h1 span{
			position:fixed;
		}

		h1 span:after, h1 span:before{
			position:absolute;
		}

		.half-size{
			font-size:125px;
		}

		/*
		------------------------------------
		F
		------------------------------------
		*/

		.char-01{
			-webkit-transform:scale(1);
			left:0.25em;
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		.char-01:before{
			content:"F";
			font-family:"sliced-top";
			left:-1.3em;
			top:2em;
			-webkit-transform:rotate(90deg);
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		.char-01:after{
			content:"F";
			font-family:"sliced-bottom";
			left:0.4em;
			top:0.75em;
			-webkit-text-stroke:2px rgb(200,200,200);
			color:rgba(0,0,0,0.0);
			-webkit-transform:rotate(90deg);
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}
		
			/*active*/

		.char-01.clean{
			-webkit-transform:scale(2);
			top:0.4em;
		}

		.char-01.clean:before{
			left:0em;
			top:0em;
			-webkit-transform:rotate(0deg);

		}

		.char-01.clean:after{
			left:0em;
			top:0em;
			color:rgba(210,210,210,1.0);
			-webkit-text-stroke:0px;
			-webkit-transform:rotate(0deg);
		}

		/*
		------------------------------------
		O
		------------------------------------
		*/

		.char-02{
			
		}

		.char-02:before{
			content:"O";
			font-family: "sliced-top";
			left:0.5em;
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		.char-02:after{
			content:"O";
			font-family:"sliced-bottom";
			left:-0.5em;
			top:1em;
			color:rgba(200,200,200,0.0);
			-webkit-text-stroke:2px rgb(200,200,200);
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}


		.char-02.clean:before{
			top:0em;
			left:0em;
		}

		.char-02.clean:after{
			top:0em;
			left:0em;
			-webkit-text-stroke:0px;
			color:rgba(200,200,200,1.0);
		}

		/*
		------------------------------------
		R
		------------------------------------
		*/

		.char-03{
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		.char-03:before{
			content:"R";
			font-family:"sliced-top";
			top:-0.7em;
			left:2em;
			-webkit-transform:rotate(30deg);
			-webkit-text-stroke:2px rgb(200,200,200);
			color:rgba(0,0,0,0.0);
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);

		}

		.char-03:after{
			content:"R";
			font-family:"sliced-bottom";
			left:0.5em;
			top:0.25em;
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		/*clean*/

		.char-03.clean:before, .char-03.clean:after{
			-webkit-transform:rotate(0deg);
			-webkit-text-stroke:0px rgb(200,200,200);
			color:rgba(210,210,210,1.0);
			left:0em;
			top:0em;
		}

		/*
		------------------------------------
		M
		------------------------------------
		*/

		.char-04{
			bottom:-1em;
			right:1em;
		}

		.char-04:before{
			content:"M";
			font-family:"sliced-top";
			left:-0.5em;
			top:0em;
			-webkit-text-stroke:2px rgb(200,200,200);
			color:rgba(0,0,0,0.0);
			-webkit-transform:rotate(-90deg);
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		.char-04:after{
			content:"M";
			font-family:"sliced-bottom";
			left:-1em;
			top:0.5em;
			-webkit-transition:all 1s cubic-bezier(.26,0,.03,.99);
		}

		.char-04.clean:before, .char-04.clean:after{
			top:0em;
			left:0em;
			-webkit-transform:rotate(0deg);
			-webkit-text-stroke:0px;
			color:rgba(200,200,200,1.0);
		}
		

	


		/*
		------------------------------------
		modules
		------------------------------------
		*/

		.top{
			top:0em;

		}

		.right{
			right:0.125em;
		}

		.bottom{
			bottom:-0.125em;
		}

		.left{
			left:0em;
		}

		.rotate-left{
			-webkit-transform:rotate(-90deg);
		}

		.rotate-right{
			-webkit-transform:rotate(90deg);
		}


	/*	button{
			padding:1em 10em;
			display:block;
			margin:0em auto;
			top:45%;
			width:100%;
			position:fixed;
		}*/

		h2{
			font-family:helvetica;
			color:white;
			display:block;
			width:100%;
			position:fixed;
			text-align:center;
			cursor:pointer;
			font-size:120px;
		}

		
		.buttons{
			padding-left:1em;
			padding-bottom:1em;
		}
		
		.description{
			border:1px solid rgb(210,210,210);
			max-width:30vw;
			/*bottom:0;*/
			position:absolute;
			/*top:100vh;*/
			bottom:0vh;
			left:35vw;
		}

		.description p{
			color:rgb(210,210,210);
			font-family:menlo;
			padding:1em;
			margin:0;
			line-height:1.3em;
		}
		
		@media only screen and (max-width:800px){
			.description{
				max-width:100vw;
				top:100vh;
			}
		}

		@media only screen and (max-width:400px){
			h1 {
				font-size:150px;
			}

			h2{
				font-size:130px;
			}
			.description{
				max-width:75vw;
				margin-left:10vw;
			}
		}